:root {
  --mobile-width: 320px;
  --mobile-width-only: 767px;
  --tablet-width: 768px;
  --desktop-width: 1280px;

  --font-family: 'Poppins', Arial, sans-serif;

  --color-main-grey: rgba(255, 255, 255, 0.55);
  --color-main-background: #1E252B;
  --color-orange: #FF6E30;
  --color-white: #FFFFFF;
}
