.promo {
  background-image: url(../../../public/img/promo-background.webp);
  background-repeat: no-repeat;
  background-position-y: 100%;
  margin-bottom: 100px;
}

.promo__inner {
  padding: 78px 0 0;
}

.promo__wrapper {
  max-width: 600px;
}

.promo__title {
  font-size: 50px;
  line-height: 140%;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  margin-bottom: 30px;
}

.promo__title span {
  color: var(--color-orange);
}

.promo__info {
  font-size: 18px;
  margin-bottom: 59px;
  max-width: 80%;
}

.promo__form {
  margin-bottom: 111px;
  max-width: 499px;
}

.socials {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.socials__link svg {
  width: 58px;
  height: 58px;
  fill: var(--color-white);
  fill-opacity: 0.78;
  transition: all 0.3s linear;
}

.socials__link:hover svg {
  transform: scale(130%);
}
