.feedbacks__inner {
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.feedback__quote {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
  min-height: 492px;
}

.feedback__person {
  align-self: stretch;
  position: relative;
}

.feedback__person img {
  object-fit: contain;
}

.feedback__person div {
  padding: 10px 22px 16px;
  max-width: 265px;
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: left;
}

.feedback__person span {
  display: block;
}

.feedback__person span:first-child {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
}

.feedback__person span:last-child {
  line-height: 24px;
}

.feedback__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  position: relative;
  text-align: left;
  margin: 0;
  max-width: 380px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.78);
  z-index: 2;
}

.feedback__text::before {
  content: "";
  width: 103px;
  height: 320px;
  position: absolute;
  top: 0;
  left: -50px;
  background: url('../../../public/img/quote-symbol.png') center no-repeat;
  z-index: 1;
  transform: translate(0, -50%);
}

.swiper-wrapper {
  margin-bottom: 100px;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--color-orange);
}

.swiper-button-disabled {
  color: rgba(255, 255, 255, 0.28);
}

.custom-bullet {
  line-height: 8px;
  height: 8px;
  width: 44px;
  border-radius: 4px;
  background-color: var(--color-orange);
}
